*{
    box-sizing: border-box;
}
body{
    background-color: #0D0D0D;
    color: #f9f6f6 ;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow: hidden;
}
.loader{
    z-index: 999;
}
img{
    cursor: pointer;
}

/* Start of side Nav  section*/
.nav-tab{
    background-color: #0D0D0D;
}
#side-nav{
    z-index: 9;
}
#side-nav ul li{
    cursor: pointer;
}
.w-50px{
    width: 50px;
}
#closeBtn{
    cursor: pointer;
}
/* End   of side Nav section*/

/* Start of Home section*/
.meal-layer{
 
    background-color: #f9f6f6ca;
    top: 130%;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .5s;
    cursor: pointer;
}
.meal:hover .meal-layer{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.hidden{
    display: none;
}
/* End   of Home section*/

/* Start of Search section*/
::placeholder {
   color: #6C757D !important;
  }
/* End   of Search section*/

/* Start of Categories section*/
.category-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
    cursor: pointer;
}
#categoriesSec:hover .category-layer{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* End   of Categories section*/

/* Start of Area section*/
.areaSection{
    cursor: pointer;
}
/* End   of Area section*/

/* Start of Ingredients section*/
.cursor-pointer{
    cursor: pointer;
}
/* End   of Ingredients section*/

/* Start of Contact section*/
.btn-disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: #942731;
    border-color: #942731;
}
.btn-enable{
    cursor: pointer;
    pointer-events: all;
    color: #DC3545;
    border-color: #DC3545;
}
/* End   of Contact section*/